.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.clock {
  height: 50vh;
  width: 30vw;
  font-size: xx-large;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 154, 196);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  background-color: rgb(187, 115, 231);
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}