.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
  align-self: center;
  justify-self: flex-start;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.clockMain {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lapses {
  display: flex;
  height: 90vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  height: 50vh;
  width: 30vw;
  font-size: xx-large;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 154, 196);
}

.list {
  height: 80%;
  overflow-y: auto;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background-color: rgb(187, 115, 231);
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .clock {
    height: 30vh;
    width: 45vw;
  }

  .lapses {
    height: 80vh;
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .clock {
    height: 30vh;
    width: 50vw;
  }

  .lapses {
    height: 70vh;
    width: 70vw;
  }

  .btn {
    padding: 0.6rem;
  }
}

@media (max-width: 480px) {
  .clock {
    height: 20vh;
    width: 45vw;
    font-size: large;
  }

  .lapses {
    height: 60vh;
    width: 90vw;
  }

  .btn {
    padding: 0.4rem;
  }
}